<div class="container d-grid gap-4">
    <form>
        <div class="row pt-4">
            <label for="connectionSelect">Select Connection:</label>
            <select id="connectionSelect" name="connection" class="form-control">
                <option value="connection1">Connection 1</option>
                <option value="connection2">Connection 2</option>
                <option value="connection3">Connection 3</option>
            </select>
        </div>
        <div class="row pt-4">

            <label for="schemaSelect">Select Credential Schema:</label>
            <select id="schemaSelect" name="schema" class="form-control">
                <option value="schema1">Schema 1</option>
                <option value="schema2">Schema 2</option>
                <option value="schema3">Schema 3</option>
            </select>
        </div>
        <div class="row pt-4">

            <label for="definitionSelect">Select Credential Definition:</label>
            <select id="definitionSelect" name="definition" class="form-control">
                <option value="definition1">Definition 1</option>
                <option value="definition2">Definition 2</option>
                <option value="definition3">Definition 3</option>
            </select>
        </div>
        <div class="row pt-4">
            <app-credential-form [attributes]="testAttributes" />
        </div>
        

            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        
    </form>
</div>