<div *ngIf="this.attributes">

    <div *ngFor="let formAttribute of attributes">
        <div class="row pt-2">
            <div class="col">
                <label for="{{formAttribute.name}}">{{formAttribute.name}}</label>
            </div>
            <div class="col">
                <input class="form-control" type="text" id="{{formAttribute.name}}" [(ngModel)]="formAttribute.value" />
                <label *ngIf="formAttribute.error">{{formAttribute.error}}</label>
            </div>
        </div>
    </div>
</div>
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Credential
    Attribute</button> -->

<!-- Modal -->
<!-- TODO remove since all attributes must be added anyway -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Credential Attribute</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body grid">
                <div class="row">
                    <div class="col">
                        Attribute Name
                    </div>
                </div>
                <div *ngFor="let formAttribute of attributes">
                    <div class="row pt-2" *ngIf="!formAttribute.selected">
                        <div class="col">
                            {{formAttribute.name}}
                        </div>
                        <div class="col">
                            <button class="btn btn-primary float-end" (click)="addAttribute(formAttribute.name)">Add
                                Attribute</button>
                        </div>
                    </div>
                </div>
                <label *ngIf="this.modalError">{{this.modalError}}</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>