<div class="card shadow-sm mb-4">
    <div class="card-header grid">
        <div class="row">
            <small class="col-4">Connection</small>
            <strong class="col-6">{{connection?.alias}}</strong>
            <div class="col-2">
                <button type="button" class="btn-close float-end" aria-label="Close" (click)="this.withdrawCredentialOffer(credentialExchangeRecord.credential_exchange_id)"></button>
            </div>
        </div>
        <div class="row">
            <small class="col-4">State:</small>
            <div class="col-6">{{credentialExchangeRecord.state}}</div>
            <div class="col-2" *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.OTHER">
                <!-- TODO swich button with an accept mark -->
                <button type="button" class="float-end" aria-label="Accept" (click)="acceptCredential(credentialExchangeRecord.credential_exchange_id)"><span
                        class="glyphicon glyphicon-ok"></span>accept</button>
            </div>
        </div>
        <div class="row">
            <small class="col-4">Role:</small>
            <div class="col-6">{{credentialExchangeRecord.role}}</div>
        </div>
    </div>
    <div class="card-body">
        <h5>Attributes</h5>
        <div class="row">
            <div class="col-4">Name</div>
            <div class="col-8">Value</div>
        </div>
        <div *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.SELF">
            <div *ngFor="let cred of credentialExchangeRecord.credential.values | keyvalue" class="row">
                <div class="col-4">{{cred.key}}</div>
                <div class="col-8">{{cred.value.raw}}</div>
            </div>
        </div>
        <div *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.OTHER">
            <div *ngFor="let cred of credentialExchangeRecord.credential_proposal_dict.credential_proposal.attributes"
                class="row">
                <div class="col-4">{{cred.name}}</div>
                <div class="col-8">{{cred.value}}</div>
            </div>
        </div>
    </div>
</div>