<div class="card shadow-sm mb-4">
    <div class="card-header grid">
        <div class="row">
            <small class="col-4">Connection</small>
            <strong class="col-6">hello</strong>
            <div class="col-2">
                <button type="button" class="btn-close float-end" aria-label="Close"></button>
            </div>
        </div>
        <div class="row">
            <small class="col-4">State:</small>
            <div class="col-6">helo</div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <small class="col-4">Role:</small>
            <div class="col-6">hello</div>
        </div>
    </div>
    <div class="card-body">
        <h5>Attributes</h5>
        <div class="row">
            <div class="col-4">Name</div>
            <div class="col-8">Value</div>
        </div>

        <div *ngFor="let cred of credential.attrs | keyvalue" class="row">
            <div class="col-4">{{cred.key}}</div>
            <div class="col-8">{{cred.value}}</div>
        </div>

    </div>
</div>