{% extends "base.html" %}

{% block title %}
Register User
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Register User</h1>

    <form id="registerForm">
        <input type="text" id="username" placeholder="username" name="username" required><br>
        <input type="password" id="password" placeholder="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
</div>

<script>
document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    fetch('/api/register', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            user: username,
            password: password,
        }),
    })
        .then(response => response.json().then(data => ({ status: response.status, body: data })))
        .then(data => {
            console.log(data);
            var popup = $("<div></div>")
            .text(data.status === 200 ? data.body.message : data.body.error) 
            .css({
                'position': 'fixed',
                'bottom': '20px',
                'right': '20px',
                'background-color': data.status === 200 ? '#3498DB' : '#e74c3c',
                'color': '#fff',
                'padding': '15px 30px',
                'border-radius': '4px',
                'display': 'none'
            })
            .appendTo('body');

            popup.fadeIn(200).delay(5000).fadeOut(200, function(){
            $(this).remove();
            });
        })
        .catch((error) => {
            console.error('Error:', error);
        });
});
</script>
{% endblock %}