<div class="container d-grid gap-4">
    <form>
        <div class="row pt-4">
            <label for="connectionSelect">Connection:</label>
            <select id="connectionSelect" name="connection" class="form-control">
                <option value="" disabled selected>Select the connection you want to issue credentials to</option>
                <option *ngFor="let connection of this.connections" value="{{connection.connection_id}}">{{connection.alias}} - {{connection.connection_id}}</option>
            </select>
        </div>
        <div class="row pt-4">
            <label for="schemaSelect">Credential Schema:</label>
            <select id="schemaSelect" name="schema" class="form-control" (change)="handleChange($event)">
                <option value="" disabled selected>Select the scheme of the credentials</option>
                <option *ngFor="let schema of this.schemas" value="{{schema.schemaId}}">{{schema.schemaName}} - {{schema.version}}</option>
            </select>
        </div>
        <div class="row pt-4">

            <label for="definitionSelect">Credential Definition:</label>
            <input id="definitionSelect" name="definition" class="form-control" value="{{this.credDefId}}" disabled>            
        </div>
        <div class="row pt-4"  *ngIf="this.schemaAttributes">
            <app-credential-form [attributes]="schemaAttributes" />
        </div>


        <button type="submit" [disabled]="this.submitDisabled" class="btn btn-primary mt-4">Submit</button>

    </form>
</div>