{% extends "base.html" %}

{% block title %}
Create Role
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Create Role</h1>

    <form id="createRoleForm" data-catalogs="{{ catalogs|join(',') }}">
        <label for="roleName">Role Name:</label><br>
        <input type="text" id="roleName" name="roleName"><br>

        <label for="team">Team:</label><br>
        <select id="team" name="team" required>
            <option value="">Select a team</option>
            {% for team in teams %}
            <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select><br>

        <h2>Catalogs</h2>
        {% for catalog in catalogs %}
        <label for="{{ catalog }}">{{ catalog }}:</label><br>
        <select id="{{ catalog }}" name="{{ catalog }}">
            <option value="all">All</option>
            <option value="read-only">Read-Only</option>
            <option value="none">None</option>
        </select><br>
        {% endfor %}

        <input type="submit" value="Create Role">
    </form>
</div>

<script>
    document.getElementById('createRoleForm').addEventListener('submit', function (event) {
        event.preventDefault();

        var roleName = document.getElementById('roleName').value;
        var team = document.getElementById('team').value;

        // Read the list of catalog names from the data attribute
        var catalogs = this.getAttribute('data-catalogs').split(',');

        var allow = catalogs.map(function (catalog) {
            return document.getElementById(catalog).value;
        });

        if (!roleName || !team || !catalogs.length || !allow.length) {
            console.error('All fields are required');
            return;
        }

        fetch('/api/roles/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                role: roleName,
                team: team,
                catalogs: catalogs,
                allow: allow,
            }),
        })
            .then(response => response.json().then(data => ({ status: response.status, body: data })))
            .then(data => {
                console.log(data);
                var popup = $("<div></div>")
                .text(data.status === 200 ? data.body.message : data.body.error) 
                .css({
                    'position': 'fixed',
                    'bottom': '20px',
                    'right': '20px',
                    'background-color': data.status === 200 ? '#3498DB' : '#e74c3c',
                    'color': '#fff',
                    'padding': '15px 30px',
                    'border-radius': '4px',
                    'display': 'none'
                })
                .appendTo('body');
        
                popup.fadeIn(200).delay(5000).fadeOut(200, function(){
                $(this).remove();
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}